<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API_Automation" parallel="tests" thread-count="3">

    <test name="WIN10TEST_FF">
        <classes>
            <class name="cucumber.automation.TestRunner" />
        </classes>
    </test>


</suite>
